<% provide(:title, "Contact") %>

<h1>Contact Me</h1>
<p>Please contact me at <a href="https://www.linkedin.com/in/julie-anne-glennon-18783157">Linkedin</a>
or you can email me at : Julieanne2864184@gmail.com</p>

 

